body{
background:#f4f6fb;
}

.card{
border-radius:15px;
}

.card-img-top{
height:220px;
object-fit:cover;
}

.comment-box{
background:#eef1f5;
padding:10px;
border-radius:10px;
margin-top:5px;
}